.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.image {
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
    opacity: 0;
}

.wrapper:hover .image {
    transform: scale(1.1);
}