.button {
    max-width: 200px;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: var(--font-subheading);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid transparent;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.primary {
    background-color: var(--color-accent);
    color: #0a0c0a;
    border: 1px solid var(--color-accent);
}

.primary:hover {
    background-color: transparent;
    color: var(--color-accent);
    box-shadow: var(--shadow-glow);
}

.outline {
    background-color: #14181480;
    border-color: var(--color-accent);
    color: var(--color-accent);
}

.outline:hover {
    background-color: var(--color-accent);
    color: #0a0c0a;
    box-shadow: var(--shadow-glow);
}

.disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.delete {
    background: #14181480;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 0.9rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.delete:hover {
    color: #fff;
    background-color: #ff4d4d;
    opacity: 1;
}