// Button Component Styles


.button {
    max-width: 200px;
    padding: 1rem;
    font-family: var(--font-subheading);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.button--primary {
    color: #0a0c0a;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);

    &:hover {
        color: var(--color-accent);
        background-color: transparent;
        box-shadow: var(--shadow-glow);
    }
}

.button--outline {
    color: var(--color-accent);
    border-color: var(--color-accent);
    background-color: #14181480;

    &:hover {
        color: #0a0c0a;
        background-color: var(--color-accent);
        box-shadow: var(--shadow-glow);
    }
}

.button--delete {
    font-size: 0.9rem;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    background: #14181480;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s;

    &:hover {
        color: #fff;
        background-color: #ff4d4d;
        opacity: 1;
    }
}

.button--disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}